@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-size: 16px;
    --base-100: 220, 65%, 99%;
    --base-200: 220, 65%, 95%;
    --paragraph-100: 214, 50%, 35%;
    --paragraph-200: 214, 50%, 30%;
    --foreground: 214, 50%, 25%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
    --primary: 214, 50%, 25%;
    --primary-foreground: 220, 65%, 99%;
    --secondary: 214, 50%, 25%;
    --secondary-100: 217, 70%, 70%;
    --secondary-200: 214, 54%, 54%;
    --secondary-300: 214, 47%, 39%;
    --secondary-foreground: 220, 65%, 99%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
    --ring: 215 20.2% 65.1%;
    --radius: 0.5rem;
  }

  .dark {
    --base: 224 71% 4%;
    --foreground: 213 31% 91%;
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
    --border: 216 34% 17%;
    --input: 216 34% 17%;
    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --ring: 216 34% 17%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply font-sans antialiased bg-base-100 text-foreground h-dvh;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-serif;
  }

  a,
  button,
  input,
  textarea,
  svg * {
    @apply font-sans duration-300;
  }

  svg {
    @apply max-w-full h-auto;
  }
}

@layer components {
  .container {
    @apply relative mx-auto;
  }

  .icon-link {
    @apply cursor-pointer hover:opacity-80 active:translate-y-1 duration-300;
  }

  .contacts-link {
    @apply flex items-center gap-2 text-base-100 text-base hover:opacity-80 active:translate-y-1 duration-300;
  }

  .whatsapp .fill_layer {
    fill: hsl(var(--base-100));
  }

  .header-link {
    @apply relative;

    &::after {
      @apply absolute top-full left-1/2 translate-x-[-50%] w-0 h-0.5 bg-foreground duration-300;
      content: "";
    }

    &:hover {
      &::after {
        @apply w-full;
      }
    }
  }

  .hero {
    @apply relative h-[unset] md:h-[727px] px-8 py-16 md:p-0 w-full md:bg-[url("@shared/assets/hero_bg/hero_bg.png")] bg-no-repeat bg-center bg-cover;
  }

  .hero_gradient {
    @apply absolute w-full h-full top-0 left-0 bg-gradient-to-b from-[#fbfcfe] to-[#eaeffb] md:from-[#f4ebe670] md:via-[#ededf4e4] md:to-[#eaeffb];
  }

  .achievement_text {
    & h3 {
      @apply text-4xl md:text-5xl font-bold leading-tight;
    }

    & p {
      @apply text-xl text-base-200;
    }
  }

  .achievements_bg {
    @apply absolute top-0 left-0 w-full h-full bg-[url("@shared/assets/achievements_bg/achievements_bg.png")] bg-cover bg-center;
  }
}
